body{
  font-family: 'Open Sans';
}

/* Global */

.container{
  width: 95%;
  margin: auto;
}
/* Header */

header{
  padding-top: 30px;
  min-height: 120px;
  border-bottom: #e8491d 3px solid;
}

header #branding{
  float: left;
  padding-left: 20px;
  /*height: 146px;
  width: 228px;*/
}

.logo{
  height: 110px;
  width: 171px;

}


header li{
  float: left;
  display: inline;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
}

header nav{
  float: right;
  padding: 36px 0 36px 0;
}

.sonic{
  width: 100%;
  padding: 0 7%;
  display: table;
  height: 100vh;
  margin: 0;
  max-width: none;
  background-color: #ff8003;
}

.sonicimg{
  background-image: url(../imgs/sonic.png);
  background-size: cover;
  height:1100px;
  width: 1025px;
}
