body{
  font-family: 'Open Sans';
}

/* Global */

.container{
  width: 95%;
  margin: auto;
}
/* Header */

header{
  padding-top: 30px;
  min-height: 120px;
  border-bottom: #e8491d 3px solid;
}

header #branding{
  float: left;
  padding-left: 20px;
}

.logo{
  height: 110px;
  width: 171px;
}

header li{
  float: left;
  display: inline;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
}

header nav{
  float: right;
  padding: 36px 0 36px 0;
}
/* Section */

.CallToAction{
  width: 86.125%;
  padding: 0 7%;
  display: table;
  height: 75vh;
  margin: 0;
  max-width: none;
  background-color: #ff8003;
  border-bottom: #e8491d 3px solid;
}

.sonic{
  float: left;
  height: 480px;
  width: 513px;
}
