body{
  font-family: 'Montserrat';
  font-size: 100%;
  padding: 0;/* The following two lines removes white space on left, right, and bottom of the website*/
  margin: 0;
  /* Specifying the font-size in percent and em displays the same size in all major
     browsers, and allows all browsers to resize the text! */
}

/* Global */

.container{
  width: 95%;
  margin: auto; //horizontally centers element within its container
}

ul{
  margin: 0; /* removes padding and margins for all unordered lists*/
  padding: 0;
}
/* Header */

header{
  padding-top: 30px;
  min-height: 120px;
  border-bottom: #e8491d 3px solid;
}

header .branding{
  float: left;
  padding-left: 20px;
}

.logo{
  height: 110px;
  width: 171px;
}

header a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

header li{
  float: left;
  display: inline;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
}

header nav{
  float: right;
  margin: 50px 0 50px 0;

}
/* Sonic Section */

.CallToAction{
  width: 86.125%;
  padding: 0 7%;
  display: table;
  height: 78vh;
  margin: 0;
  max-width: none;
}

.CallToAction h1{
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  padding-top: 2.5%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.highlight{
  color: #ff0000;
  font-size: 2.5em;
}

.sonic{
  height: 480px;
  width: 513px;
  float: left;
}

/* Entertainment Section */
.entertainment{
  width: 86.125%;
  padding: 0 7%;
  display: table;
  height: 78vh;
  margin: 0;
  max-width: none;
  border-top: #ffffff 3px solid;
  border-bottom: #ffffff 3px solid;
}
.entertainment  h1{
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.entertainment .videos{
  margin-top: 1.6875%;
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

.entertainment .videos iframe{
  width: 90%;
}
/* Art Section*/
.art{
  width: 86.125%;
  padding: 0 7%;
  display: table;
  text-align: center;
  height: 78vh;
  margin: 0;
  max-width: none;
  border-top: #ffffff 3px solid;

}

.art h1{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.art .artists{
  margin-top: 6.375%;
  float: left;
  text-align: center;
  width: 15%;
  padding: 1.5%;
  margin-left: .875%;
  margin-right: .875%;
}

.creatives{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
