body{
  font-family: 'Montserrat';
  /* Specifying the font-size in percent and em displays the same size in all major
     browsers, and allows all browsers to resize the text! */
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;/* The following two lines removes white space on left, right, and bottom of the website*/
  margin: 0;
  min-height: 100vh; /*the height of body will never be less than 100% of the viewport*/
  width: 100%;

}
html {
    height: 100%;
    /* margin: 0;
    padding: 0; */
}

/* Global */

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 10px 0 10px;
  margin: auto; //horizontally centers element within its container
}

ul{
  margin: 0; /* removes padding and margins for all unordered lists*/
  padding: 0;
}
/* Header */

header{
  /* padding-top: 30px; */
  min-height: 130px;
}

header .branding{
  float: left;
  padding-left: 20px;
  margin-top: 1%;
}

.logo{
  height: 110px;
  width: 171px;
}

header a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

header li{
  float: left;
  display: inline;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
}

header nav{
  float: right;
  margin-top: 4.5%;
  /* margin: 50px 0 50px 0; */

}
/* Sonic Section */

.CallToAction{
  /* width: 86.125%; */
  padding: 0 7%;
  /* display: table; */
  margin: 0;
  max-width: none;
  border-top: #e8491d 3px solid;
  /* overflow:hidden; */
  /* clear: both; */
}
.sub-container {
    float: left;
    width: 45%;
    position: relative;
    box-sizing: border-box;
}

/* clear-fix solution
    Floated elements don't expand the height or width of their parents leading to a div of height 0
*/
.CallToAction:after {
    content: "";
    display: table;
    clear: both;
}

.CallToAction h1{
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  padding-top: 2.5%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.highlight{
  color: #ff0000;
  font-size: 2.5em;
}

.sonic{
  height: auto;
  width: 75%;
  /* float: left; */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);/*the decimal stands for transparency*/
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header h2, .modal-footer h3{
  margin: 0;
}

.modal-header{
  background: coral;
  padding: 15px;
  color: #fff;
}

.modal-body{
  padding: 10px 20px;
}

.modal-footer{
  background: coral;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.closeBtn {
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/* Entertainment Section */
.entertainment{
  /* width: 86.125%; */
  padding: 0 7%;
  /* display: table; */
  margin: 0;
  max-width: none;
  border-top: #ffffff 3px solid;
  border-bottom: #ffffff 3px solid;
}

.entertainment:after {
    content: "";
    display: table;
    clear: both;
}

.video-list li  {
    display: inline-block;
    /* padding: 10px 20px 0px 20px; */
    /* text-align: center; */
}

.videos {
    width: auto;
    margin-left: 0 15% 0 15%;
}

.entertainment h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6em;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.captions li{
    text-align: center;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6em;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    padding: 0 100px 0 60px;
}
.vinyl {
    margin-top: 5%;

}
/* Art Section*/
.art{
  /* width: 86.125%; */
  padding: 0 7%;
  /* display: table; */
  /* text-align: center; */
  margin: 0;
  max-width: none;
  border-top: #ffffff 3px solid;
}
.art::after {
    content: "";
    display: table;
    clear: both;
}
.artists li {
    display: inline;
}

  .art h1{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.artisan {
    padding-left: 13%;
    width: auto;
    /* width: 40%; */
}

.creatives{
  height: 120px;
  width: 120px;;
  padding: 0 36px 0 32px;
  /* margin-left: 15%; */
  border-radius: 50%;
  display: inline;
}

.names li {
    display: inline;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6em;
    padding: 0 35px 0 10px;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

/* Media Queries */

@media only screen and (max-width : 768px) {
    .CallToAction, .entertainment, .art {
        padding: 0 90%;
    }
}

/* @media only screen and (max-width : 767px) {
    header .unorderedList, header .branding  {
        display: none; */
        /* padding: 30px 35.27% 0 0; */
    /* }

    .entertainment, .art {
        padding: 0 44.3%;
    }

    .header {
        padding: 0 44.3%;
    }
}

@media (min-width: 768px) {
    .entertainment, .art { */
        /* padding: 0 35.277%; */
    /* }
} */
