body {
  font-family: 'Montserrat';
  /* Specifying the font-size in percent and em displays the same size in all major
     browsers, and allows all browsers to resize the text! */
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;/* The following two lines removes white space on left, right, and bottom of the website*/
  margin: 0;
  width: 100%;
}
html {
    height: 100%; /*sets the dimensions of the html to cover the entire height of the browser*/
}

/* Global */

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; /*horizontally centers element within its container*/
}

ul {
  margin: 0; /* removes padding and margins for all unordered lists*/
  padding: 0;
}
/* Header */

header {
  min-height: 130px;
}

header .branding {
  float: left;
  padding-left: 20px;
  margin-top: 1%;
}

.logo {
  height: 110px;
  width: 171px;
}

header a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

header li {
  float: left;
  display: inline;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
}

header nav {
  float: right;
  margin-top: 4.5%;
}
/* Sonic Section */

.CallToAction {
  margin: 0;
  max-width: none;
  border-top: #e8491d 3px solid;
  line-height: 2em;
}
/* clear-fix solution
    Floated elements don't expand the height or width of their parents leading to a div of height 0
*/
.CallToAction:after {
    content: "";
    display: table;
    clear: both;
}

.CallToAction h1 {
  color: #ffffff;
  /* clear: right; */
  text-transform: uppercase;
  font-size: 1.6em;
  padding-top: 2.5%;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.highlight {
  color: #ff0000;
  font-size: 2.5em;
  line-height: 1.5em;
}

.sonic {
  height: 50%;
  width: 50%;
  float: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);/*the decimal stands for transparency*/
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-header h2, .modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: coral;
  padding: 15px;
  color: #fff;
}

.modal-body {
  padding: 10px 20px;
}

.consoles li {
    display: inline-block;
    margin-right: 2%;

}

.switch {
    padding: 0;
}
/* .nintendo {
    width: 30%;
    height: 30%;
} */

.modal-footer {
  background: coral;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.closeBtn {
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/* Entertainment Section */
.entertainment {
  margin: 0;
  max-width: none;
  border-top: #ffffff 3px solid;
  border-bottom: #ffffff 3px solid;
}

.entertainment:after {
    content: "";
    display: table;
    clear: both;
}

.video-list li  {
    display: inline-block;
}

.videos {
    width: auto;
    margin: 0 8% ;
}

.entertainment h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6em;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.video-list li p, .artist-list li p {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6em;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}
.vinyl {
    margin-top: 2%;

}
/* Art Section*/
.art{
  margin: 0;
  max-width: none;
  border-top: #ffffff 3px solid;
}
.art::after {
    content: "";
    display: table;
    clear: both;
}
.artist-list li {
    display: inline-block;
}

.artist-list li p {
    padding: 0 4px;
}

.artists {
    width: auto;
    margin: 0 0%;
}

  .art h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.creatives {
  height: 120px;
  width: 120px;;
  border-radius: 50%;
}

/* Media Queries */

@media only screen and (max-width : 767px) {
    nav{
        display: none;
    }

    .sony, .xbox {
        width: 100%;
        height: 100%;
    }

    .CallToAction h1 {
        clear: left;
        font-size: 1em;
    }

    .sonic {
        float: none;
    }

}
